
//-----===== Базовые переменные ====-----//

$background-body: #181818;
$color-body: #fff;

$font-style-body: normal;
$font-weight-body: 400;
$font-size-body: 16px;
$font-family-body: 'Roboto', sans-serif;

$line-height-body: 1.15;

$viewport-container: 100%;
$viewport-max: 1140px;
$viewport-min: 320px;

$white: #fff;
$black: #000;

$primary: #FCDB50;
$primary-hover: #FFE67C;
$primary-circle-hover: #FCDB50;